<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <title>Chat.io</title>
</head>

<body>
    <h1>Chat App</h1>
    <%- include('includes/msg'); %>
    <%- include('includes/session'); %>
    <div id="pool"></div>
    <div id="chat-box">
        <small id="target"></small>
        <div id="chat"></div>
    </div>
    <textarea name="msg" id="txt-area" cols="50" rows="5"></textarea>
    <button id="msg-btn">Send</button>
    <script>let username = "<%=locals.session_data.username%>";</script>
    <script src="/js/app.js"></script>
</body>

</html>